.wp-block-create-block-random-photo-generator {
	.polaroids {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 10px;

		.polaroid {

			&::before {
				content: "";
				display: block;
				position: absolute;
				height: 2rem;
				width: 7rem;
				z-index: 1;
				top: -0.7rem;
				left: 50%;
				margin: auto auto auto -3.5rem;
				transform: rotate(4deg);
				background: rgba(255, 255, 235, 0.8);
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 0 4rem rgba(255, 255, 235, 0.5) inset;
			}

			border: solid 1px #000;
			border-radius: 2px;
			padding: 10px;
			margin: 12px;
			box-sizing: content-box;
			width: 200px;
			height: 200px;

			overflow: visible;
			position: relative;
			background-color: white;

			.loader {
				margin: 75px auto;
				border: 3px solid var(--wp--preset--color--accent);
				border-top: 3px solid var(--wp--preset--color--contrast-2);
				border-radius: 50%;
				width: 50px;
				height: 50px;
				animation: spin 1s linear infinite;
			}

			img {
				opacity: 0;
				transition: opacity 0.5s ease-out;

				&.loaded {
					opacity: 0.7;

					&:hover {
						opacity: 1;
					}

				}
			}
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}